.sortable-ghost {
    opacity: 0.4; /* Полупрозрачный элемент при перетаскивании */
  }
  
  .sortable-swap-highlight {
    border: 2px dashed #FF6347; /* Показать границу при наведении */
  }

  .b-charms_presentation .b-charms_presentation--item.m-1-line {
    margin-top: -7px;
  }
  .b-charms_presentation .b-charms_presentation--item.m-1-line.m-l-col {
    transform: translateX(-30px) !important;
  }
  .b-charms_presentation .b-charms_presentation--item.m-1-line.m-r-col {
    transform: translateX(30px) !important;
  }
  
  .b-charms_presentation .b-charms_presentation--item.m-2-line {
    margin-top: -18px;
  }
  .b-charms_presentation .b-charms_presentation--item.m-2-line.m-l-col {
    transform: translateX(-60px) !important;
  }
  .b-charms_presentation .b-charms_presentation--item.m-2-line.m-r-col {
    transform: translateX(60px) !important;
  }
  
  
  .b-charms_presentation .b-charms_presentation--item.m-3-line {
    margin-top: -42px;
  }
  .b-charms_presentation .b-charms_presentation--item.m-3-line.m-l-col {
    transform: translateX(-90px) !important;
  }
  .b-charms_presentation .b-charms_presentation--item.m-3-line.m-r-col {
    transform: translateX(90px) !important;
  }
  
  
  .b-charms_presentation.m-even .b-charms_presentation--item.m-center.m-l-col {
    margin-top: 0;
    transform: translateX(-15px) !important;
  }
  .b-charms_presentation.m-even .b-charms_presentation--item.m-center.m-r-col {
    margin-top: 0;
    transform: translateX(15px) !important;
  }
  .b-charms_presentation.m-odd .b-charms_presentation--item.m-center {
    margin-top: 0;
    transform: translateX(0) !important;
  }