  /* For one */
  .b-charms_presentation .b-charms_presentation--item:nth-child(1),
  .b-charms_presentation.m-1 .b-charms_presentation--item:nth-child(1) {
    transform: translateY(0) translateX(-50%) rotate(0);
    left: 50%;
  }

   /* For two */
  .b-charms_presentation.m-2 .b-charms_presentation--item:nth-child(1) {
    transform: translateY(-2px) translateX(-90%) rotate(1deg);
    left: 50%;
  }

  .b-charms_presentation.m-2 .b-charms_presentation--item:nth-child(2) {
    transform: translateY(-2px) translateX(-30%) rotate(-1deg);
    left: 50%;
  }

/* For Three */
  .b-charms_presentation.m-3 .b-charms_presentation--item:nth-child(1) {
    transform: translateY(-8px) translateX(-120%) rotate(6deg);
    left: 50%;
  }

  .b-charms_presentation.m-3 .b-charms_presentation--item:nth-child(2) {
    transform: translateY(-2px) translateX(-50%) rotate(0);
    left: 50%;
  }

  .b-charms_presentation.m-3 .b-charms_presentation--item:nth-child(3) {
    transform: translateY(-8px) translateX(10%) rotate(-6deg);
    left: 50%;
  }

/* For Fourth  */
  .b-charms_presentation.m-4 .b-charms_presentation--item:nth-child(1) {
    transform: translateY(-14px) translateX(-150%) rotate(6deg);
    left: 50%;
  }

  .b-charms_presentation.m-4 .b-charms_presentation--item:nth-child(2) {
    transform: translateY(-2px) translateX(-80%) rotate(2deg);
    left: 50%;
  }

  .b-charms_presentation.m-4 .b-charms_presentation--item:nth-child(3) {
    transform: translateY(-4px) translateX(-2%) rotate(-2deg);
    left: 50%;
  }

  .b-charms_presentation.m-4 .b-charms_presentation--item:nth-child(4) {
    transform: translateY(-14px) translateX(45%) rotate(-6deg);
    left: 50%;
  }

  /* @keyframes sway-right {
    0% {
      transform: translateY(0) translateX(0) rotate(0);
    }
    30% {
      transform: translateY(-4px) translateX(60%) rotate(10deg);
    }
    60% {
      transform: translateY(-2px) translateX(52%) rotate(5deg);
    }
    100% {
      transform: translateY(-2px) rotate(5deg);
      right: 50%;
    }
  }
  
  
  @keyframes sway-left {
    0% {
      transform: translateY(0) translateX(0) rotate(0);
    }
    30% {
      transform: translateY(-4px) translateX(-60%) rotate(-10deg);
    }
    60% {
      transform: translateY(-2px) translateX(-52%) rotate(-5deg);
    }
    100% {
      transform: translateY(-2px) rotate(-5deg);
      left: 50%;
    }
  }  */