.h-hidden {
    display: none;
}

  .b-chain {
    width: 900px;
    margin: 0 auto;  
    overflow: hidden;
    position: relative;
  }

  .b-chain-text {
    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #000000;
    font-size: 20px;
    line-height: 1.1em;
    text-align: center;
    z-index: 1;
  }

  .b-chain .swiper-slide > img {
     /* position: absolute; {% endcomment %} */
    display: block;
    width: 100%;
    margin-top: -50%;
     /* height: 100%; {% endcomment %} */
     /* min-width: 600px; {% endcomment %} */
    object-fit: cover;
    object-position: bottom;
  }

  @media screen and (max-width: 767px) {
    .b-chain {
      width: 350px;
    }

    .b-chain .swiper-slide > img {
      width: 600px;
      margin-top: -70%;
    }
  }

  .b-chain .b-chain_nav-btn {
    color: #000000;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
  }
  
  .b-chain .b-chain_nav-btn::after {
    font-size: 20px;
  }

  .b-chain .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: #cdcdcd;
    border-radius: 50%;
  }

  .b-chain .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #ddb65a;
    border: 1px solid #ffffff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.99);
  }

  .b-charm__list {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 10px;
  }

  .b-charm__list-item input[type='checkbox'] {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
  }

  .b-charm__list-item input[type='checkbox']:checked + img {
    pointer-events: none;
    opacity: 0.5;
    transform: translateY(-10px);
  }

  .b-charm__list-item label {
    display: block;
    position: relative;
    cursor: pointer;
    width: 120px;
    height: 120px;
  }

  .b-charm__list-item img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    object-fit: contain;
  }

  .b-charms-notice {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    background-color: yellow;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
  }

  .b-charms_presentation {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 36%;
    width: 200px;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 2;
  }

  .b-charms_presentation--item {
    position: absolute;
     /* width: 50px; {% endcomment %} */
    width: 25%;
    transition: all 0.3s ease;
     /* position: relative; {% endcomment %} */
    opacity: 0;
    visibility: hidden;
  }

  .b-charms_presentation--item.m-showed {
    opacity: 1;
    visibility: visible;
  }

  .b-charms_presentation--item.m-showed > img {
    transform: translateX(-50%) translateY(0);
  }

  .b-charms_presentation--item > img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    top: 0;
    display: block;
    object-fit: contain;
    transition: all 0.3s ease;
    max-width: 150%;
  }

  .b-charms_presentation--item {
  }

  .b-charms_presentation--item_img {

  }

  .b-select {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    background-color: #000000;
    letter-spacing: 1px;
    border-radius: 15px;
    text-transform: uppercase;
    padding: 7px 20px 5px;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.2em;
    box-shadow: none;
    border: none;
  }

