:root {
  --swiper-pagination-bottom: 30px;
  --width-container: 1200px;
  --width-chars-item: 120px;
  --height-chars-item: 120px;
  --padding-top-chars-item: 15px;
}

.h-hidden {
    display: none;
}

  .b-chain {
    width: 900px;
    margin: 0 auto;  
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
  }

  .b-chain-text {
    display: none;
    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #000000;
    text-align: center;
    z-index: 1;
    letter-spacing: 1px;
  }

  .b-chain-text_title {
    font-size: 20px;
    line-height: 1.1em;
  }

  .b-chain-text_subtitle {
    font-size: 20px;
    line-height: 1.1em;
  }

  .b-chain .swiper-slide > img {
    display: block;
    width: 100%;
    margin-top: -50%;
    object-fit: cover;
    object-position: bottom;
  }

  @media screen and (max-width: 767px) {
    .b-chain-text {
      flex-direction: column;
    }

    .b-chain-text_subtitle {
      font-size: 16px;
      color: grey;
    }

    .b-chain {
      width: 350px;
    }

    .b-chain .swiper-slide > img {
      width: 600px;
      margin-top: -70%;
    }
  }

  .b-chain .b-chain_nav-btn {
    display: none;
    color: #000000;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
  }
  
  .b-chain .b-chain_nav-btn::after {
    font-size: 20px;
    line-height: 38px;
  }

  .b-chain .swiper-pagination {
    display: none;
    bottom: var(--swiper-pagination-bottom, 8px);
  }

  .b-chain .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: #cdcdcd;
    border-radius: 50%;
  }

  .b-chain .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #ddb65a;
    border: 1px solid #ffffff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.99);
  }

  .b-charm__list::-webkit-scrollbar-track {
      cursor: pointer;
      height: 10px;
  }

  .b-charm__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  .b-charm__list-item {
    position: relative;
    width: var(--width-chars-item);
    height: var(--height-chars-item);
    cursor: pointer;
  }

  .b-charm__list-item:hover .b-charm__list-desc {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
  }

  .b-charm__list-desc {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .b-charm__list-desc_title {
    display: block;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: bold;
    color: black;
    margin: 0 0 5px;
    padding: 0;
  }

  .b-charm__list-desc_subtitle {
    font-size: 12px;
    line-height: 1.2em;
    color: black;
    margin: 0;
    padding: 0;
  }

  .b-charm__list-item_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    object-fit: contain;
  }

  .b-charms-notice {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    background-color: #ffffff;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
    width: 300px;
  }
 
  .b-charms-notice + .b-charms-notice:not(.hidden) {
    bottom: 50px;
  }

  .b-charms-notice.hidden + .b-charms-notice {
    bottom: 10px;
  }

  .b-tip_druganddrop {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 65%;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    line-height: 1.2em;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
    width: 200px;
    opacity: 0;
    visibility: hidden;
  }

  .b-tip_druganddrop.m-showed {
    opacity: 1;
    visibility: visible;
  }

  .b-charms_presentation {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40%;
    width: 200px;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 2;
  }

  .b-charms_presentation--item {
    position: absolute;
     /* width: 50px; {% endcomment %} */
    width: 25%;
    transition: all 0.3s ease;
     /* position: relative; {% endcomment %} */
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
  }

  .b-charms_presentation--item.m-showed {
    opacity: 1;
    visibility: visible;
  }

  .b-charms_presentation--item.m-showed > img {
    transform: translateX(-50%) translateY(0);
  }

  .b-charms_presentation--item > img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    top: 0;
    display: block;
    object-fit: contain;
    transition: all 0.3s ease;
    max-width: 250%;
  }

  .b-charms_presentation--item {
  }

  .b-charms_presentation--item_img {

  }

  .b-select {
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 115px;
    cursor: pointer;
    z-index: 10;
    background-color: #000000;
    letter-spacing: 1px;
    border-radius: 15px;
    text-transform: uppercase;
    padding: 7px 20px 5px;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.2em;
    box-shadow: none;
    border: none;
    display: none;
  }


/* Builder Cart */
.b-builder__cart {
  background-color: #ffffff;
  padding: 20px;
}

.b-builder__cart-title {
  margin-bottom: 10px;
}

.b-builder__cart-title_subtitle {
  margin: 0;
  padding: 0;
}

.b-builder__cart-list {
  list-style: none;
  padding: 0 5px 0 0;
  margin: 0;
  max-height: 250px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 10px; */
  margin-bottom: 10px;
}

.b-builder__cart-list::-webkit-scrollbar {
  width: 4px;
  border: 1px solid #d5d5d5;
}

.b-builder__cart-list::-webkit-scrollbar-track {
  border-radius: 3px;
  background: #eeeeee;
}

.b-builder__cart-list::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: grey;
}

.b-builder__cart-list_item {
  position: relative;
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: all 0.4s ease;
  text-transform: uppercase;
  line-height: 1.2em;
  /* margin-bottom: 10px; */
}

.b-builder__cart-list_item.m-added {
  grid-template-rows: 1fr;
}

.b-builder__cart-list_item.m-added .b-builder__cart-list_item-inner {
  visibility: visible;
  opacity: 1;
  max-height: 100px;
  padding-bottom: 10px;
}

.b-builder__cart-list_item-inner {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.b-builder__cart-list .b-builder__cart-list_item:first-child {
  height: 48px;
}

.b-builder__cart-list .b-builder__cart-list_item:first-child .b-builder__cart-list_item-remove {
  display: none;
}

.b-builder__cart-list_item-remove {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.b-builder__cart-list_item-remove svg,
.b-builder__cart-list_item-remove svg path {
  fill: #9a9fb3;
}

.b-builder__cart-list_item-title {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.b-builder__cart-list_item-price {
  font-size: 16px;
  color: grey;
  margin: 0;
  padding: 0;
}

.b-builder__cart-total {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 17px 20px 0;
  margin: 0 -20px;
  display: flex;
  justify-content: space-between;
}

.b-builder__cart-total_text {
  font-size: 16px;
  font-weight: bold;
}

.b-builder__cart-checkout {
  font-family: Futura PT, Arial, sans-serif;
  display: block;
  width: auto;
  padding: 10px 5px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.85;
  border: 1px solid #000000;
  border-radius: 0;
  cursor: pointer;
  margin: 5px 0 0;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.b-builder__cart-checkout:hover {
  background-color: #ffffff;
  border-color: #010101;
  color: #010101;
}

