:root {
    --background-picture: #f2f2f2;
    --background-charms: #ffffff;
    --width-container: 1200px;
    --pb-container: 145px;
}


.l-builder {
    position: relative;
    padding: 0;
    background-color: var(--background-picture);
}

.l-builder-steps {
  background-color: #ffffff;
  padding: 50px 0;
}

.l-builder-picture {
    padding-bottom: var(--pb-container);
    position: relative;
}

.l-builder-charms {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - var(--pb-container));
    width: var(--width-container);
    background-color: var(--background-charms);
}

.l-builder-cart {
    position: absolute;
    width: 400px;
    right: 50%;
    bottom: calc(var(--width-chars-item) + var(--padding-top-chars-item) + 15px);
    margin-right: calc(var(--width-container) / -2);
    z-index: 4;
}

.l-builder.m-step-1 .l-builder-cart {
    display: none;
}

.l-builder.m-step-1 .b-chain .swiper-pagination,
.l-builder.m-step-1 .b-chain .b-chain_nav-btn,
.l-builder.m-step-1 .b-steps-desc-title_text.m-step-1,
.l-builder.m-step-1 .b-steps-desc-subtitle_text.m-step-1,
.l-builder.m-step-1 .b-select {
    display: block;
}

.l-builder.m-step-1 .b-chain-text {
    display: flex;
}

.l-builder.m-step-2 .l-builder-charms .b-charm__list.m-spacer {
    display: none;
}

.l-builder.m-step-2 .b-steps-desc-title_text.m-step-2,
.l-builder.m-step-2 .b-steps-desc-subtitle_text.m-step-2,
.l-builder.m-step-2 .l-builder-charms {
    display: block;
}

.l-builder.m-step-3 .b-steps-desc-title_text.m-step-3,
.l-builder.m-step-3 .b-steps-desc-subtitle_text.m-step-3,
.l-builder.m-step-3 .l-builder-charms{
    display: block;
}

.l-builder.m-step-3 .l-builder-charms .b-charm__list.m-spacer {
    display: flex;
}

.l-builder.m-step-3 .l-builder-charms .b-charm__list.m-charms {
    display: none;
}
