:root {
    --background-picture: #f2f2f2;
}


.l-builder {
    padding: 50px 0;
}

.l-builder-steps {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 30px;
}

.l-builder-picture {
    background-color: var(--background-picture);
    padding-bottom: 85px;
    position: relative;
}